<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/stylesheets/table.css" rel="stylesheet">
  </head>
  <body onload="javascript:getGames(); javascript:getTeams(); getPlayers();">
    <!-- Navigation Bar -->
    <nav>
      <ul class="nav nav-tabs" style="margin: 0;">
        <!-- Home -->
        <li><a href="/">Home</a></li>
        <!-- Football -->
        <li role="presentation" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Football
          </a>
          <ul class="dropdown-menu">
            <a href="/fbplayers">Football Player Stats</a>
            <a href="/teams">Football Team Stats</a>
            <a href="/games">Football Upcoming Games</a>
          </ul>
        </li>
        <!-- Soccer -->
        <li role="presentation" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Soccer
          </a>
          <ul class="dropdown-menu">
            <a href="/soccer">Soccer Today's Matches</a>
            <a href="/soccerplayers">Soccer Players</a>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- Navigation Bar -->
    
    <script type="text/javascript">
        function getTeams(){
             $.ajax({
                url: "https://api.fantasydata.net/nfl/v2/JSON/Teams",
                beforeSend: function(xhrObj){
                    // Request headers
                    xhrObj.setRequestHeader("Ocp-Apim-Subscription-Key","1b56b2ff60794b8fb2168cd46c9f63fb");
                },
                type: "GET",
                // Request body
                data: "{body}",
            })
            .done(function(data) {
                console.log(data);
            });
        };
        function getPlayers(){
             $.ajax({
                url: "https://api.fantasydata.net/nfl/v2/JSON/Players",
                beforeSend: function(xhrObj){
                    // Request headers
                    xhrObj.setRequestHeader("Ocp-Apim-Subscription-Key","1b56b2ff60794b8fb2168cd46c9f63fb");
                },
                type: "GET",
                // Request body
                data: "{body}",
            })
            .done(function(data) {
                console.log(data);
            });
        };
        function getGames() {
            var params = {
                // Request parameters
            };
          
            $.ajax({
                url: "https://api.fantasydata.net/nfl/v2/JSON/Schedules/2016?" + $.param(params),
                beforeSend: function(xhrObj){
                    // Request headers
                    xhrObj.setRequestHeader("Ocp-Apim-Subscription-Key","1b56b2ff60794b8fb2168cd46c9f63fb");
                },
                type: "GET",
                // Request body
                data: "{body}",
            })
            .done(function(data) {
                //console.log(data);
                pop_table(data);
            })
            .fail(function() {
                alert("error");
            });
        };
        function pop_table(data){
            var table = document.getElementById("statTable");
            table.cellspacing = "100";
            table.innerHTML = "<tr class ='header'> <td style='padding-right: 50px'>Home</td> <td style='padding-right: 50px'>Away</td> </tr>";
            for (i=0;i< data.length;i++){
                if(data[i].Week == "12"){
                    var tr = document.createElement("tr");
                    tr.innerHTML = "<tr> <td style='padding-right: 50px'>" + data[i].HomeTeam + "</td> <td style='padding-right: 50px'>" + data[i].AwayTeam + "</tr>";
                    table.appendChild(tr);
                    
                }
            }
       
        };
        
    </script>
    <h1><%= title%></h1>  
    
    <div class = "stats" id = "statTable" >
        
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>

  </body>

</html>
