<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%= title %></title>
        <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
        <link href="/stylesheets/style.css" rel="stylesheet">
        <link href="/stylesheets/navbar.css" rel="stylesheet">
        <!--link href="/stylesheets/table.css" rel="stylesheet"-->
    </head>
    <body>
        <!-- navigation Bar -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Second String</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <!-- navigation tabs -->
                    <ul class="nav navbar-nav">
                        <!-- Home -->
                        <li><a href="/">Home</a></li>
                        <!-- Football -->
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            Football
                            </a>
                            <ul class="dropdown-menu">
                                <a href="/football/players">Player Stats</a>
                                <a href="/football/teams">Team Stats</a>
                                <a href="/football/games">Upcoming Games</a>
                            </ul>
                        </li>
                        <!-- Soccer -->
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            Soccer
                            </a>
                            <ul class="dropdown-menu">
                                <a href="/soccer/matches">Today's Matches</a>
                                <a href="/soccer/players">Players</a>
                            </ul>
                        </li>
                        <!-- Baseball -->
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            Baseball
                            </a>
                            <ul class="dropdown-menu">
                                <a href="/baseball/players">Players</a>
                                <a href="/baseball/teams">Teams</a>
                            </ul>
                        </li>
                    </ul>
                    <!-- end navigation tabs -->
                    <!-- search bar -->
                    <form class="navbar-form navbar-right">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                    <!-- end search bar -->
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <!-- end navigation Bar -->
    
        <h1 id="page-title">WELCOME TO SECOND STRING</h1>
  
        <!-- Page Content -->
        <div class="container">

            <div class="row">

                <!-- Blog Entries Column -->
                <div class="col-md-8">

                    <h1 class="page-header">
                        Second String Blog
                        <small>Sports Talk</small>
                    </h1>

                    <!-- First Blog Post -->
                    <h2>
                        <a href="#">Thoughts on Raiders moving to Vegas</a>
                    </h2>
                    <p class="lead">
                        by <a href="index.php">Frank Cusano</a>
                    </p>
                    <p><span class="glyphicon glyphicon-time"></span> Posted on March 29, 2017 at 9:54 PM</p>
                    <hr>
                    <img class="img-responsive" src="https://specials-images.forbesimg.com/imageserve/213816762bf74d27ba32b666ad2cac41/960x0.jpg?fit=scale" alt="">
                    <hr>
                    <p>
                    A city famous for its over-the-top persona is eagerly welcoming an NFL franchise that boasts an equally
                    outsized reputation and the promise of big-league legitimacy for the desert gambling oasis, which up to
                    now has seen major sporting events just passing through.
                    </p>
                    <p>
                    Las Vegas is no stranger to big time events catering to all tastes. Champion boxers lace up their gloves
                    at glitzy hotel-casinos on the Strip. Thousands turn out for NASCAR races. The National Finals Rodeo rides
                    into town every year.
                    </p>
                    <p>
                    With the addition of an NHL expansion franchise, the Vegas Golden Knights, and as of this week the Raiders,
                    Las Vegas believes it has arrived as something substantially more than a one-off venue.
                    </p>
                    <a class="btn btn-primary" href="#">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

                    <hr>

                    <!-- Second Blog Post -->
                    <h2>
                        <a href="#">Blog Post Title</a>
                    </h2>
                    <p class="lead">
                        by <a href="index.php">Start Bootstrap</a>
                    </p>
                    <p><span class="glyphicon glyphicon-time"></span> Posted on August 28, 2013 at 10:45 PM</p>
                    <hr>
                    <img class="img-responsive" src="http://placehold.it/900x300" alt="">
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, quasi, fugiat, asperiores harum voluptatum tenetur a possimus nesciunt quod accusamus saepe tempora ipsam distinctio minima dolorum perferendis labore impedit voluptates!</p>
                    <a class="btn btn-primary" href="#">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

                    <hr>

                    <!-- Third Blog Post -->
                    <h2>
                        <a href="#">Blog Post Title</a>
                    </h2>
                    <p class="lead">
                        by <a href="index.php">Start Bootstrap</a>
                    </p>
                    <p><span class="glyphicon glyphicon-time"></span> Posted on August 28, 2013 at 10:45 PM</p>
                    <hr>
                    <img class="img-responsive" src="http://placehold.it/900x300" alt="">
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, voluptates, voluptas dolore ipsam cumque quam veniam accusantium laudantium adipisci architecto itaque dicta aperiam maiores provident id incidunt autem. Magni, ratione.</p>
                    <a class="btn btn-primary" href="#">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

                    <hr>

                    <!-- Pager -->
                    <ul class="pager">
                        <li class="previous">
                            <a href="#">&larr; Older</a>
                        </li>
                        <li class="next">
                            <a href="#">Newer &rarr;</a>
                        </li>
                    </ul>

                </div>

                <!-- Blog Sidebar Widgets Column -->
                <div class="col-md-4">

                    <!-- Blog Search Well -->
                    <div class="well">
                        <h4>Blog Search</h4>
                        <div class="input-group">
                            <input type="text" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <span class="glyphicon glyphicon-search"></span>
                            </button>
                            </span>
                        </div>
                        <!-- /.input-group -->
                    </div>

                    <!-- Blog Categories Well -->
                    <div class="well">
                        <h4>Blog Categories</h4>
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="list-unstyled">
                                    <li><a href="#">All Sports</a>
                                    </li>
                                    <li><a href="#">Football</a>
                                    </li>
                                    <li><a href="#">Baseball</a>
                                    </li>
                                    <li><a href="#">Basketball</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- /.col-lg-6 -->
                            <div class="col-lg-6">
                                <ul class="list-unstyled">
                                    <li><a href="#">Soccer</a>
                                    </li>
                                    <li><a href="#">Hockey</a>
                                    </li>
                                    <li><a href="#">NCAA</a>
                                    </li>
                                    <li><a href="#">Womens</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- /.col-lg-6 -->
                        </div>
                        <!-- /.row -->
                    </div>

                    <!-- Side Widget Well -->
                    <div class="well">
                        <h4>Side Widget Well</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
                    </div>

                </div>

            </div>
            <!-- /.row -->

            <hr>

            <!-- Footer -->
            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <p>Copyright &copy; Second String 2017</p>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </footer>

        </div>
        <!-- /.container -->

        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="/javascripts/bootstrap.min.js"></script>
        <script src="/javascripts/update.js"></script>
  
    </body>
</html>