nav a {
  color: #00B7FF;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #590A0A;
    border: 1px solid black;
}

nav li {
    float: left;
    border: 1px solid black;
}

nav li a {
    display: block;
    color: #FF3636;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
    background-color: green;
}

#page-title{
    text-align: center;
}