body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #E8E8E8;
    font-size: 16px;
    font-weight: 400;
}

h1 {
    text-align: center;
}

p {
    background: #666;
    color: #ffffff;
    padding: 15px 10px;
    margin: 0px 60px;
    border-radius: 15px;
}

a {
  color: #00B7FF;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #590A0A;
    border: 1px solid black;
}

li {
    float: left;
    border: 1px solid black;
}

li a {
    display: block;
    color: #A9A9A9;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    /*background-color: black;*/
    color: white;
    text-decoration: none;
}

table, th, td {
    border: 1px solid black;
}

.selections{
	margin: 10px 10px;
	overflow: auto;
}

.selections td {
  background:#FFFFFF;
  padding: 15px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:12px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

.search{
    border: 1px solid black;
    float: right;
    padding: 5px;
    background-color: #EBEBEB;
}

.stats{
    margin: 10px;
}

.stats tr {
    background-color: gray;
}

form .search{
  padding: 5px;
}

/* dropdown menu background color */
nav .dropdown-menu {
    background-color: #E0E0E0;
}

/* dropdown menu font color */
nav .dropdown-menu a {
    color: 	#404040;
}

/* dropdown menu font color on hover */
nav .dropdown-menu a:hover {
    color: 	#F5F5F5;
}

/* display dropdown menu on hover */
nav .dropdown:hover .dropdown-menu {
    display: block;
}

#page-title{
    text-align: center;
}

