body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #DCD0C0;
}

a {
  color: #00B7FF;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #083683;
    border: 1px solid black;
}

li {
    float: left;
    border: 1px solid black;
}

li a {
    display: block;
    color: #B8ECD7;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: green;
}

table, th, td {
    border: 1px solid black;
}

.selections{
	margin: 10px 10px;
	overflow: auto;
}

.search{
    border: 1px solid black;
    float: right;
    padding: 5px;
    background-color: #EBEBEB;
}

.stats{
    margin: 10px;
}